# Asignación de equipos para proyecto final

In [1]:
# Importar librerías
import numpy as np
import pandas as pd
import random

pd.set_option('display.max_colwidth', None)

In [2]:
# información de equipos y alumnos
alumnos = {
    221973505: "ALEJANDRO CAMACHO",
    221973467: "MANUEL GASTELUM",
    221973513: "ALBERTO MARTÍNEZ",
    221973521: "CÉSAR MEDINA",
    221973491: "MONSERRAT PINEDA",
    209543147: "EDUARDO RIOS",
    221310735: "LUIS SOUZA",
    213272867: "MAURICIO TENORIO",
    304570863: "LUIS VALLARTA",
    304578694: "GABRIEL VARELA",
    221310778: "RICARDO GUTIERREZ"
}

### Asignación de equipos y material
⚠️ __Nota__: En clase se seleccionará una semilla y con base en el resultado se hará la asignación de los capítulos restantes del libro.

In [15]:
# Seleccionar una semilla
#random.seed(1) # <--- CAMBIAR SEMILLA

# modificar orden de los elementos
alumnos_id = list(alumnos.keys())
random.shuffle(alumnos_id)
print("Selección de alumnos:")
print(alumnos_id)

Selección de alumnos:
[221973491, 304578694, 221973513, 304570863, 209543147, 221310778, 221310735, 221973505, 213272867, 221973467, 221973521]

In [16]:
material = ["01",
            "02",
            "03",
            "04"]

In [18]:
# Asignación de equipos
df = dict()
for i in range(0, len(alumnos_id), 3):
    if i == len(alumnos_id)-2:
        df[material[int(i/3)]] = "   1️⃣" + alumnos[alumnos_id[i]]   + \
                                 " • 2️⃣" + alumnos[alumnos_id[i+1]]
    else:
        df[material[int(i/3)]] = "   1️⃣" + alumnos[alumnos_id[i]]   + \
                                 " • 2️⃣" + alumnos[alumnos_id[i+1]] + \
                                 " • 3️⃣" + alumnos[alumnos_id[i+2]]

# Impresión de capítulo asignado por equipo 
df = pd.DataFrame(df, ["Integrantes"]).transpose()
df.index.name = "No. Equipo"
df.sort_index()

                                                                 Integrantes
No. Equipo
01             1️⃣MONSERRAT PINEDA • 2️⃣GABRIEL VARELA • 3️⃣ALBERTO MARTÍNEZ
02                 1️⃣LUIS VALLARTA • 2️⃣EDUARDO RIOS • 3️⃣RICARDO GUTIERREZ
03                1️⃣LUIS SOUZA • 2️⃣ALEJANDRO CAMACHO • 3️⃣MAURICIO TENORIO
04                                      1️⃣MANUEL GASTELUM • 2️⃣CÉSAR MEDINA