# Asignación de capítulos 2 a 5 del libro
### Información básica

In [1]:
# Importar librerías
import numpy as np
import pandas as pd
import random

In [2]:
# información de equipos y alumnos
alumnos = {
    213388296: "CAROL CASTAÑEDA",
    221310808: "JORGE GOMEZ",
    220981326: "ROSA GUERRERO",
    221310778: "RICARDO GUTIERREZ",
    221310727: "ESTHER MORENO",
    221310786: "PATRICIO OROZCO",
    211680429: "CRISTIAN RUIZ",
    221310743: "EDUARDO SANCHEZ"
}

### Asignación de equipos y capítulos del libro
⚠️ __Nota__: En clase se seleccionará una semilla y con base en el resultado se hará la asignación de los capítulos restantes del libro.

In [11]:
# Seleccionar una semilla
random.seed(5 + 8 + 2) # <--- CAMBIAR SEMILLA

# modificar orden de los elementos
alumnos_id = list(alumnos.keys())
random.shuffle(alumnos_id)
print("Selección de alumnos:")
print(alumnos_id)

Selección de alumnos:
[221310743, 220981326, 221310786, 221310808, 211680429, 221310727, 213388296, 221310778]

In [12]:
# Asignación de equipos
df = dict()
for i in range(0, len(alumnos_id), 2):
    df[int(i/2+2)] = alumnos[alumnos_id[i]] + "  ///  "+ alumnos[alumnos_id[i+1]]

# Impresión de capítulo asignado por equipo 
df = pd.DataFrame(df, ["Alumnos"]).transpose()
df.index.name = "Capítulo"
df

                                          Alumnos
Capítulo
2             EDUARDO SANCHEZ  ///  ROSA GUERRERO
3               PATRICIO OROZCO  ///  JORGE GOMEZ
4               CRISTIAN RUIZ  ///  ESTHER MORENO
5         CAROL CASTAÑEDA  ///  RICARDO GUTIERREZ