# Asignación de equipos para la segunda ronda de presentaciones

In [1]:
# Importar librerías
import numpy as np
import pandas as pd
import random

pd.set_option('display.max_colwidth', None)

In [2]:
# información de equipos y alumnos
alumnos = {
    222980378: 'JORGE ARTURO HERRERA RAMIREZ',
    222980386: 'DANIEL ISITA ASCENCIO',
    214509127: 'REYNA VIVIANA JARAMILLO FLORES',
    222980297: 'LARISA IRENE LOPEZ PAYAN',
    222980335: 'MIGUEL ANGEL LOPEZ ROJAS',
    210229944: 'ALEJANDRO NATHANAEL MARTIN DE CAMPO BARBA',
    209538895: 'GUSTAVO MENDOZA NAVARRO',
    222980327: 'LEONARDO DANIEL PANTOJA MORFIN',
    222980246: 'JOSE MIGUEL RAMIREZ GALAN',
    222980262: 'ROBERTO CARLOS RAMIREZ RAMOS',
    222980351: 'CESAR KEVIN ROMERO HEREDIA',
    302386283: 'JOSUE SANCHEZ ACOSTA',    
    222980343: 'VICTOR TELLEZ GARCIA',
    222980289: 'YUKIE TESHIBA ZUBIETA'
}

### Asignación de equipos y material
⚠️ __Nota__: En clase se seleccionará una semilla y con base en el resultado se hará la asignación de los capítulos restantes del libro.

In [3]:
# Seleccionar una semilla
random.seed(6 + 203 + 2222 + 7315 + 13) # <--- CAMBIAR SEMILLA

# modificar orden de los elementos
alumnos_id = list(alumnos.keys())
random.shuffle(alumnos_id)
print("Selección de alumnos:")
print(alumnos_id)

Selección de alumnos:
[222980327, 222980343, 210229944, 222980386, 222980378, 222980335, 222980297, 222980289, 209538895, 222980262, 214509127, 222980246, 222980351, 302386283]

In [5]:
# librerías a presentar
material = [
    "⭐️08 NLTK",
    "⭐️09 spaCy",
    "⭐️10 GeoPandas",
    "⭐️11 Folium",
    "⭐️07 librería para hacer scrape en una red social",
    "⭐️12 ChatGPT"
]

In [6]:
# Asignación de equipos
df = dict()
j = 0
for i in range(0, len(material)):
    if (i < 4):
        df[material[i]] = "1️⃣" + alumnos[alumnos_id[j]] + " , 2️⃣"+ alumnos[alumnos_id[j+1]] 
        j += 2
    else :
        df[material[i]] = "1️⃣" + alumnos[alumnos_id[j]] + " , 2️⃣"+ alumnos[alumnos_id[j+1]] + " , 3️⃣"+ alumnos[alumnos_id[j+2]] 
        j += 3
    
# Impresión de capítulo asignado por equipo 
df = pd.DataFrame(df, ["Alumnos"]).transpose()
df.index.name = "Librerías"
df.sort_index()

                                                                                                                                            Alumnos
Librerías
⭐️07 librería para hacer scrape en una red social  1️⃣GUSTAVO MENDOZA NAVARRO , 2️⃣ROBERTO CARLOS RAMIREZ RAMOS , 3️⃣REYNA VIVIANA JARAMILLO FLORES
⭐️08 NLTK                                                                               1️⃣LEONARDO DANIEL PANTOJA MORFIN , 2️⃣VICTOR TELLEZ GARCIA
⭐️09 spaCy                                                                  1️⃣ALEJANDRO NATHANAEL MARTIN DE CAMPO BARBA , 2️⃣DANIEL ISITA ASCENCIO
⭐️10 GeoPandas                                                                        1️⃣JORGE ARTURO HERRERA RAMIREZ , 2️⃣MIGUEL ANGEL LOPEZ ROJAS
⭐️11 Folium                                                                                  1️⃣LARISA IRENE LOPEZ PAYAN , 2️⃣YUKIE TESHIBA ZUBIETA
⭐️12 ChatGPT                                                 1️⃣JOSE MIGUEL RAMIREZ GALAN , 2️⃣CESAR KEVIN ROMERO HEREDIA , 3️⃣JOSUE SANCHEZ ACOSTA