# Asignación de equipos para proyecto final

In [1]:
# Importar librerías
import numpy as np
import pandas as pd
import random

pd.set_option('display.max_colwidth', None)

In [2]:
# Información de alumnos
alumnos = {
    222980378: 'JORGE ARTURO HERRERA RAMIREZ',
    222980386: 'DANIEL ISITA ASCENCIO',
    214509127: 'REYNA VIVIANA JARAMILLO FLORES',
    222980297: 'LARISA IRENE LOPEZ PAYAN',
    222980335: 'MIGUEL ANGEL LOPEZ ROJAS',
    210229944: 'ALEJANDRO NATHANAEL MARTIN DE CAMPO BARBA',
    209538895: 'GUSTAVO MENDOZA NAVARRO',
    222980327: 'LEONARDO DANIEL PANTOJA MORFIN',
    222980246: 'JOSE MIGUEL RAMIREZ GALAN',
    222980262: 'ROBERTO CARLOS RAMIREZ RAMOS',
    222980351: 'CESAR KEVIN ROMERO HEREDIA',
    302386283: 'JOSUE SANCHEZ ACOSTA',    
    222980343: 'VICTOR TELLEZ GARCIA',
    222980289: 'YUKIE TESHIBA ZUBIETA'
}

### Asignación de equipos y material
⚠️ __Nota__: En clase se seleccionará una semilla y con base en el resultado se asignarán los equipos para el proyecto final.

In [3]:
# Seleccionar una semilla
random.seed(315 + 1699 + 666 + 98 + 17 + 2) # <--- CAMBIAR SEMILLA

# Modificar orden de los elementos
alumnos_id = list(alumnos.keys())
random.shuffle(alumnos_id)
print("Selección de alumnos:")
print(alumnos_id)

Selección de alumnos:
[222980351, 209538895, 222980335, 222980386, 222980327, 222980297, 214509127, 210229944, 222980378, 222980289, 222980246, 302386283, 222980343, 222980262]

In [4]:
equipo = ["01", "02", "03", "04", "05"]

In [5]:
# Asignación de equipos
df = dict()
j = 0
for i in range(0, len(equipo)):
    if (i < 4):
        df[equipo[i]] = "1️⃣" + alumnos[alumnos_id[j]] \
        + " , 2️⃣"+ alumnos[alumnos_id[j+1]] \
        + " , 3️⃣"+ alumnos[alumnos_id[j+2]] 
        j += 3
    else :
        df[equipo[i]] = "1️⃣" + alumnos[alumnos_id[j]] \
        + " , 2️⃣"+ alumnos[alumnos_id[j+1]]
        j += 2
    
# Impresión de asignación de equipos 
df = pd.DataFrame(df, ["Alumnos"]).transpose()
df.index.name = "No. Equipo"
df.sort_index()

                                                                                                                       Alumnos
No. Equipo
01                                    1️⃣CESAR KEVIN ROMERO HEREDIA , 2️⃣GUSTAVO MENDOZA NAVARRO , 3️⃣MIGUEL ANGEL LOPEZ ROJAS
02                                  1️⃣DANIEL ISITA ASCENCIO , 2️⃣LEONARDO DANIEL PANTOJA MORFIN , 3️⃣LARISA IRENE LOPEZ PAYAN
03          1️⃣REYNA VIVIANA JARAMILLO FLORES , 2️⃣ALEJANDRO NATHANAEL MARTIN DE CAMPO BARBA , 3️⃣JORGE ARTURO HERRERA RAMIREZ
04                                           1️⃣YUKIE TESHIBA ZUBIETA , 2️⃣JOSE MIGUEL RAMIREZ GALAN , 3️⃣JOSUE SANCHEZ ACOSTA
05                                                                   1️⃣VICTOR TELLEZ GARCIA , 2️⃣ROBERTO CARLOS RAMIREZ RAMOS