# Asignación de equipos para proyecto final
### Información básica

In [1]:
# Importar librerías
import numpy as np
import pandas as pd
import random

pd.set_option('display.max_colwidth', None)

In [2]:
# información de equipos y alumnos
alumnos = {
    213388296: "CAROL CASTAÑEDA",
    221310808: "JORGE GOMEZ",
    220981326: "ROSA GUERRERO",
    221310727: "ESTHER MORENO",
    221310786: "PATRICIO OROZCO",
    211680429: "CRISTIAN RUIZ",
    221310743: "EDUARDO SANCHEZ"
}

### Asignación de equipos y capítulos del libro
⚠️ __Nota__: En clase se seleccionará una semilla y con base en el resultado se hará la asignación de los capítulos restantes del libro.

In [3]:
# Seleccionar una semilla
random.seed(85+1347+850) # <--- CAMBIAR SEMILLA

# modificar orden de los elementos
alumnos_id = list(alumnos.keys())
random.shuffle(alumnos_id)
print("Selección de alumnos:")
print(alumnos_id)

Selección de alumnos:
[221310743, 211680429, 220981326, 221310727, 221310786, 213388296, 221310808]

In [4]:
# Asignación de equipos
df = dict()

# asignar equipo 1, con 3 alumnos
df["Equipo 1"] = alumnos[alumnos_id[0]].title() + " / "+ \
        alumnos[alumnos_id[1]].title() + " / "+ alumnos[alumnos_id[2]].title()

# asignar equipos 2 y 3, cada uno con 2 alumnos
for i in range(3, len(alumnos_id), 2):
    df["Equipo " + str(int(i/2+1))] = alumnos[alumnos_id[i]].title() + " / "+ alumnos[alumnos_id[i+1]].title()

# Impresión de capítulo asignado por equipo 
df = pd.DataFrame(df, ["Alumnos"]).transpose()
df.index.name = "A presentar:"
df

                                                      Alumnos
A presentar:
Equipo 1      Eduardo Sanchez / Cristian Ruiz / Rosa Guerrero
Equipo 2                      Esther Moreno / Patricio Orozco
Equipo 3                        Carol Castañeda / Jorge Gomez

### Nota:

El equipo 1 está conformado por 3 alumnos y para los equipos 2 y 3, en ambos casos, éstos están conformados por 2 integrantes.