# Asignación de equipos para presentaciones de artículos y libros.

In [1]:
# Importar librerías
import numpy as np
import pandas as pd
import random

pd.set_option('display.max_colwidth', None)

In [2]:
# información de equipos y alumnos
alumnos = {
    '323019027': 'HUGO FERNANDO ABARCA JIMENEZ',
    '323018942': 'FERNANDO ARTURO AREVALO PEREZ',
    '323018977': 'CRISTIAN ULISES BARENCA SOTELO',
    '323018926': 'EDUARDO CARLOS FLETES ARECHIGA',
    '323019043': 'OSCAR FERNANDO FLORES GARCIA',
    '208763291': 'MARIA DEL CARMEN HERRERA JIMENEZ',
    '216910473': 'EYDER URIEL KINIL CERVERA',
    '210674077': 'JOSE LUIS MEDRANO MEDRANO',
    '091420465': 'CARLOS OCTAVIO MENDOZA RUIZ'
}

### Asignación de equipos y material
⚠️ __Nota__: En clase se seleccionará una semilla y con base en el resultado se hará la asignación de los capítulos restantes del libro.

In [3]:
# Seleccionar una semilla
random.seed(10 + 3 + 38 + 15) # <--- CAMBIAR SEMILLA

# modificar orden de los elementos
alumnos_id = list(alumnos.keys())
random.shuffle(alumnos_id)
print("Selección de alumnos:")
print(alumnos_id)

Selección de alumnos:
['210674077', '323019027', '208763291', '323018977', '216910473', '091420465', '323018926', '323019043', '323018942']

In [4]:
material = ["⭐️01: A moment for Versioning Control",
            "⭐️04: Everybody Lies (≥ 10 bases de datos utilizadas, su fuente y cómo fue usada)",
            "⭐️05: Art of Data Science (caps. 4-5)",
            "⭐️02: Good Enough Practices Sc Computing y ⭐️03: The Problem with Dates ISO8601"]

In [5]:
# Asignación de equipos
df = dict()
j = 0
for i in range(0, len(alumnos_id)-2, 2):
    if i == 6:
        df[material[j]] = "1️⃣" + alumnos[alumnos_id[i]] + " , 2️⃣"+ alumnos[alumnos_id[i+1]] + " , 3️⃣"+ alumnos[alumnos_id[i+2]]
        next
    else:
        df[material[j]] = "1️⃣" + alumnos[alumnos_id[i]] + " , 2️⃣"+ alumnos[alumnos_id[i+1]]
    
    j += 1

# Impresión de capítulo asignado por equipo 
df = pd.DataFrame(df, ["Alumnos"]).transpose()
df.index.name = "Papers y documentos"
df.sort_index()

                                                                                                                                                                                  Alumnos
Papers y documentos
⭐️01: A moment for Versioning Control                                                                                      1️⃣JOSE LUIS MEDRANO MEDRANO , 2️⃣HUGO FERNANDO ABARCA JIMENEZ
⭐️02: Good Enough Practices Sc Computing y ⭐️03: The Problem with Dates ISO8601    1️⃣EDUARDO CARLOS FLETES ARECHIGA , 2️⃣OSCAR FERNANDO FLORES GARCIA , 3️⃣FERNANDO ARTURO AREVALO PEREZ
⭐️04: Everybody Lies (≥ 10 bases de datos utilizadas, su fuente y cómo fue usada)                                 1️⃣MARIA DEL CARMEN HERRERA JIMENEZ , 2️⃣CRISTIAN ULISES BARENCA SOTELO
⭐️05: Art of Data Science (caps. 4-5)                                                                                       1️⃣EYDER URIEL KINIL CERVERA , 2️⃣CARLOS OCTAVIO MENDOZA RUIZ