# Asignación de equipos para la 1º ronda de presentaciones

In [1]:
# Importar librerías
import numpy as np
import pandas as pd
import random

pd.set_option('display.max_colwidth', None)

In [2]:
# información de equipos y alumnos
alumnos = {
    222980378: 'JORGE ARTURO HERRERA RAMIREZ',
    222980386: 'DANIEL ISITA ASCENCIO',
    214509127: 'REYNA VIVIANA JARAMILLO FLORES',
    222980297: 'LARISA IRENE LOPEZ PAYAN',
    222980335: 'MIGUEL ANGEL LOPEZ ROJAS',
    210229944: 'ALEJANDRO NATHANAEL MARTIN DE CAMPO BARBA',
    209538895: 'GUSTAVO MENDOZA NAVARRO',
    222980327: 'LEONARDO DANIEL PANTOJA MORFIN',
    222980246: 'JOSE MIGUEL RAMIREZ GALAN',
    222980262: 'ROBERTO CARLOS RAMIREZ RAMOS',
    222980351: 'CESAR KEVIN ROMERO HEREDIA',
    302386283: 'JOSUE SANCHEZ ACOSTA',
    222980343: 'VICTOR TELLEZ GARCIA',
    222980289: 'YUKIE TESHIBA ZUBIETA'
}

### Asignación de equipos y material
⚠️ __Nota__: En clase se seleccionará una semilla y con base en el resultado se hará la asignación de los capítulos restantes del libro.

In [3]:
# Seleccionar una semilla
random.seed(42 + 3 + 6 + 14 + 7) # <--- CAMBIAR SEMILLA

# modificar orden de los elementos
alumnos_id = list(alumnos.keys())
random.shuffle(alumnos_id)
print("Selección de alumnos:")
print(alumnos_id)

Selección de alumnos:
[222980378, 222980297, 209538895, 222980289, 222980335, 222980327, 222980351, 302386283, 222980246, 210229944, 214509127, 222980262, 222980343, 222980386]

In [4]:
material = ["⭐️01: 50 Years of Data Science (caps. 1-2, 7-10)",
            "⭐️03: Good Enough Practices Sc Computing y ⭐️04: The Problem with Dates ISO8601",
            "⭐️05: Everybody Lies (≥ 10 bases de datos utilizadas, su fuente y cómo fue usada)",
            "⭐️06: Art of Data Science (caps. 4-5)",
            "⭐️02: A moment for Versioning Control"]

In [5]:
# Asignación de equipos
df = dict()
j = 0
for i in range(0, len(alumnos_id), 3):
    try:
        df[material[j]] = "1️⃣" + alumnos[alumnos_id[i]] + " , 2️⃣"+ alumnos[alumnos_id[i+1]] + " , 3️⃣"+ alumnos[alumnos_id[i+2]]
    except:
        df[material[j]] = "1️⃣" + alumnos[alumnos_id[i]] + " , 2️⃣"+ alumnos[alumnos_id[i+1]]
    j += 1

# Impresión de capítulo asignado por equipo 
df = pd.DataFrame(df, ["Alumnos"]).transpose()
df.index.name = "Papers y documentos"
df.sort_index()

                                                                                                                                                                                              Alumnos
Papers y documentos
⭐️01: 50 Years of Data Science (caps. 1-2, 7-10)                                                           1️⃣JORGE ARTURO HERRERA RAMIREZ , 2️⃣LARISA IRENE LOPEZ PAYAN , 3️⃣GUSTAVO MENDOZA NAVARRO
⭐️02: A moment for Versioning Control                                                                                                              1️⃣VICTOR TELLEZ GARCIA , 2️⃣DANIEL ISITA ASCENCIO
⭐️03: Good Enough Practices Sc Computing y ⭐️04: The Problem with Dates ISO8601                            1️⃣YUKIE TESHIBA ZUBIETA , 2️⃣MIGUEL ANGEL LOPEZ ROJAS , 3️⃣LEONARDO DANIEL PANTOJA MORFIN
⭐️05: Everybody Lies (≥ 10 bases de datos utilizadas, su fuente y cómo fue usada)                              1️⃣CESAR KEVIN ROMERO HEREDIA , 2️⃣JOSUE SANCHEZ ACOSTA , 3️⃣JOSE MIGUEL RAMIREZ GALAN
⭐️06: Art of Data Science (caps. 4-5)                                              1️⃣ALEJANDRO NATHANAEL MARTIN DE CAMPO BARBA , 2️⃣REYNA VIVIANA JARAMILLO FLORES , 3️⃣ROBERTO CARLOS RAMIREZ RAMOS