# Asignación de capítulos 6 a 9 del libro
### Información básica

In [1]:
# Importar librerías
import numpy as np
import pandas as pd
import random

In [2]:
# información de equipos y alumnos
equipos = {
    1: "alumno1 y alumno2",
    2: "alumno3 y alumno4",
    3: "alumno5 y alumno6",
    4: "alumno7 y alumno8",
    5: "alumno9 y alumno10"
}

### Asignación de capítulos
⚠️ __Nota__: En clase se seleccionará una semilla y con base en el resultado se hará la asignación de los capítulos restantes del libro.

In [13]:
# Seleccionar una semilla
random.seed(1000) 

# capítulos del libro 1 a 5
capitulos = np.arange(1,6)
# # capítulos del libro 6 a 9, y 10 es quien no expondrá
# capitulos = np.arange(6,11)


# modificar orden de los elementos
random.shuffle(capitulos)
print("Orden de capítulos:")
print(capitulos)

Orden de capítulos:
[5 3 2 1 4]

In [14]:
# Resultado de asignación
df = pd.DataFrame.from_dict(equipos, orient='index', columns=['Alumnos'])
df.index.name = "Equipo"
df = df.reset_index()
df = pd.concat([df, pd.DataFrame(capitulos, columns=['Capitulo'])], axis=1)\
               .sort_values(by='Capitulo').reset_index(drop=True).replace(10, "N/A")
df

   Equipo             Alumnos  Capitulo
0       4   alumno7 y alumno8         1
1       3   alumno5 y alumno6         2
2       2   alumno3 y alumno4         3
3       5  alumno9 y alumno10         4
4       1   alumno1 y alumno2         5