# Asignación de capítulos 6 a 9 del libro
### Información básica

In [1]:
# Importar librerías
import numpy as np
import pandas as pd
import random

In [2]:
# información de equipos y alumnos
equipos = {
    1: "Martha Olivia y José Raúl",
    2: "Mónica y Mario",
    3: "Carlos Samuel y Luis Enrique",
    4: "Afra Julieta y Pedro",
    5: "Carol Desireé y César Iván"
}

### Asignación de capítulos
⚠️ __Nota__: En clase se seleccionará una semilla y con base en el resultado se hará la asignación de los capítulos restantes del libro.

In [7]:
# Seleccionar una semilla
random.seed(10 + 71 + 2) 

# capítulos del libro 6 a 9, y 10 es quien no expondrá
capitulos = np.arange(6,11)

# modificar orden de los elementos
random.shuffle(capitulos)
print("Orden de capítulos:")
print(capitulos)

Orden de capítulos:
[ 7  8  6 10  9]

In [8]:
# Resultado de asignación
df = pd.DataFrame.from_dict(equipos, orient='index', columns=['Alumnos'])
df.index.name = "Equipo"
df = df.reset_index()
df = pd.concat([df, pd.DataFrame(capitulos, columns=['Capitulo'])], axis=1)\
               .sort_values(by='Capitulo').reset_index(drop=True).replace(10, "N/A")
df

   Equipo                       Alumnos Capitulo
0       3  Carlos Samuel y Luis Enrique        6
1       1     Martha Olivia y José Raúl        7
2       2                Mónica y Mario        8
3       5    Carol Desireé y César Iván        9
4       4          Afra Julieta y Pedro      N/A